<footer class="footer">
	<small>
		<p>by H Saing.</p>
	</small>
</footer>
<div class="nav">
	<ul>
		<li><%= link_to 'About US', "#" %></li>
		<li><%= link_to 'Contact US', "#" %></li>
	</ul>
</div>
