<footer class="footer">
	<small>
		<p>by H Saing.</p>
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About US', pages_about_path %></li>
			<li><%= link_to 'Contact US', pages_contact_path %></li>
		</ul>
	</nav>
</footer>